// ======================================================
// COLORS
// ======================================================

$primary: #00cc00;
$dark: #1e1e2f;
$card: #2f2f3a;
$text-light: #cccccc;
$white: #ffffff;
$font-family: "Audiowide", Arial, sans-serif;


// ======================================================
// RESET
// ======================================================

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// ======================================================
// BODY
// ======================================================

body {
  font-family: $font-family;
  background-color: $dark;
  color: $white;
  text-align: center;
  padding: 20px;
  overflow-x: hidden;

  .loading {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    align-items: center;
    justify-content: center;
    z-index: 10000;
    color: white;
    font-size: larger;
    font-weight: 600;

    &.show {
      display: flex;
    }
  }



}


// ======================================================
// HEADER
// ======================================================

header {
  margin-bottom: 20px;
  top: 0;
  z-index: 999;
  position: sticky;
  background-color: #1e1e2f96;
  padding: 20px;
  backdrop-filter: blur(10px);


  h1 {
    color: $primary;
    font-size: 3.5rem;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    color: $text-light;
  }
}


// ======================================================
// FILTER BUTTONS
// ======================================================

.filter-btn {
  background-color: $card;
  border: none;
  color: $white;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;

  &:hover {
    background-color: $primary;
  }
}

.active {
  background-color: $primary;
}


// ======================================================
// PAGE INFO
// ======================================================

#page-info {
  margin: 15px 0;
}


// ======================================================
// CHARACTER GRID (5 COLUMNS)
// ======================================================

#character {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}


// ======================================================
// CARD
// ======================================================

#character li {
  background: $card;
  border-radius: 15px;
  padding: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  }

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    color: $text-light;
  }
}


// ======================================================
// PAGINATION BUTTONS
// ======================================================
.pagination {
  bottom: 0;
  z-index: 999;
  position: sticky;
  background-color: #1e1e2f;
  padding: 20px;

}

button {
  background-color: $primary;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  color: $white;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}


// ======================================================
// RESPONSIVE
// ======================================================

@media (max-width: 1000px) {
  #character {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  #character {
    grid-template-columns: repeat(2, 1fr);
  }
}